<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SVM</title>
</head>
<body>
    <h1 style="text-align: center;">SVM - Support Vector Machine</h1>
    <hr>
    <h4>Shape of Dataset : {{shape}}</h4>

    <h2>SVM with Linear Kernel</h2>
    <p>
        <b>Accuracy : </b> {{la}} <br>
        <b>Precision : </b> {{lp}} <br>
        <b>Recall_score : </b> {{lr}} 
    </p>

    <h2>SVM with Radial basis function (RBF) Kernel</h2>
    <p>
        <b>Accuracy : </b> {{rbf_a}} 
    </p>

    <h2>SVM with Polynomial Kernel</h2>
    <p>
        <b>Accuracy : </b> {{pa}}  
    </p>

</body>
</html>