<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Regression</title>
</head>
<body>
    <h1 style="text-align:center;color: rgb(156, 11, 6);font-family: inherit;">Linear Regression Model</h1>
    <hr style="color: rgb(0, 0, 0);">

    <h2>Linear Regression for Ice Cream Profits</h2>
    <p>
        <b>R2 Score:            </b> {{r2}} <br>
        <b>Mean Absolute Error: </b> {{mae}} <br>
        <b>Mean Squared Error:  </b> {{mse}}
    </p>
</body>
</html>